@import '../../style/global.scss';

.user {
    display: flex;
    align-items: center;
    cursor: default;
    h1 {
        color: $base-color;
        font-size: 1.4rem;
    }
    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $base-color;
        border-radius: 50%;
        height: 3.5rem;
        width: 3.5rem;
        margin-left: 1.8rem;
        font-weight: bold;
    }
}

@media (max-width: $xsmall) {
    .user {
        margin: .5rem 0;
        justify-content: center;
        h1 {
            display: none;
        }
    }
}