@import '../../style/global.scss';

.logo {
    display: flex;
    align-items: center;
    padding: .4rem 0;
    cursor: default;
    img {
        height: 3.8rem;
        width: auto;
        margin-right: 1rem;
    }
    h1 {
        color: $base-color;
        font-size: 2rem;
    }
}

@media (max-width: $xsmall) {
    .logo {
        margin: .5rem 0;
        justify-content: center;
        h1 {
            display: none;
        }
    }
}