$base-color: #fff;
$brand-pink-color: rgba(224,41,97,1);
$brand-purple-color: rgba(97,49,125,1);
$background-page: #f8f3f9;
$footer-background-color: #e9e2e9;
$copyright-color: #555;
$label-color: #666;
$input-border-color: #ddd;
$table-head-color: #fafafa;
$focused-table-row: #f8eef7;
$focused-table-row-text: #ce6cf0;