@import '../style/global.scss';

.layout {
    > header {
        background: $brand-pink-color;
        background: linear-gradient(
            90deg,
            $brand-pink-color 0%,
            $brand-purple-color 100%
        );
        .container {
            @include container;
            display: flex;
            justify-content: space-between;
        }
    }
    > main {
        @include container;
        padding-top: 2rem;
        display: flex;
        flex-flow: row;
        gap: 0 2rem;
        .column {
            flex: 1;
        }
    }
    > footer {
        background-color: $footer-background-color;
        text-align: center;
        padding: 1rem 0;
    }
}
@media (max-width: $small) {
    .layout {
        > main {
            flex-flow: column;
        }
    }
}
@media (max-width: $medium) {
    .layout {
        > header {
            .container {
                width: auto;
                padding: 0 2rem;
            }
        }
        > main {
                width: auto;
                padding: 2rem 2rem 0 2rem;
        }
    }
}